<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="core-code-TestSuite" verbose="1">


    <test name="Core code test">
        <classes>
            <class name="io.corecode.myapi.testsByEntity.WriterTest"/>
            <class name="io.corecode.myapi.testsByEntity.PublisherTest"/>
            <class name="io.corecode.myapi.testsByEntity.UserTest"/>
            <class name="io.corecode.myapi.testsByEntity.BookTest"/>
            <class name="io.corecode.myapi.testsByEntity.ReviewTest"/>

        </classes>
    </test>

    <listeners>
        <listener class-name="io.corecode.myapi.listeners.apiTestListener"></listener>
    </listeners>
</suite>